<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420772807801-s7mbkbel3ve60p7j6tfadko85dn24bam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420772807801-s7mbkbel3ve60p7j6tfadko85dn24bam</string>
	<key>API_KEY</key>
	<string>AIzaSyCwj5SSaFu21irTB5rfN_jAboDmuFxypI0</string>
	<key>GCM_SENDER_ID</key>
	<string>420772807801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.thevinylapp</string>
	<key>PROJECT_ID</key>
	<string>vinyl-932d1</string>
	<key>STORAGE_BUCKET</key>
	<string>vinyl-932d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420772807801:ios:80c12031b8eb915be940a8</string>
</dict>
</plist>